header#main-header {
    background: linear-gradient(102.87deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%);
    padding: 1.4rem 0;
    position: relative;
    position: sticky;
    top: 0;
    z-index: 999;

    .dropdown__left {
        display: none;

        .dropdown__items {
            position: fixed;
            top: 0;
            left: 0;
            width: 359px;
            height: 100%;
            background-color: #003459;
            box-shadow: 0 0 20px grey;
            transform: translateX(-100%);
            padding: 1rem;
            transition: transform 0.3s ease-in;

            form {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 1rem;
                flex-direction: column;

                button {
                    @extend %button;
                    width: 230px;
                    background-color: $btn;

                    &:hover {
                        background-color: $blue;
                        color: #F7DBA7;
                    }
                }
            }

            label {
                i {
                    color: #fff;
                    font-size: 30px;
                    display: flex;
                    justify-content: flex-end;
                }
            }

            ul {
                margin-top: 59px;
            }

            li {
                font-weight: 700;
                font-size: 20px;
                letter-spacing: 3px;
                line-height: 24px;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                padding: 5px;
                color: #F7DBA7;
            }
        }

        input[type="checkbox"]:checked+.dropdown__items {
            transform: translateX(0);
        }
    }


    .flex {
        justify-content: space-between;
        align-items: center;

        .nav__logo {
            z-index: 1;
        }

        .header__position {
            position: fixed;
            left: 7%;
            top: -10px;
            rotate: 5deg;
            z-index: -1;
        }

        nav {

            .flex {
                gap: 48px;
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                color: #003459;

                .nav__link:hover {
                    color: red;
                    text-decoration: underline;
                    transition: all .2s ease-in;
                }
            }
        }

        form {
            gap: 1rem;
            align-items: center;
            justify-content: center;
            background: #FDFDFD;
            background-color: transparent;

            input {
                padding: 12px 0;
                background: #FDFDFD;
                border-radius: 46px;
                width: 280px;
                border: none;
                margin-right: 1rem;
            }

            .nav__button {
                all: unset;
                padding: 12px 28px;
                background: #003459;
                border-radius: 57px;
                display: inline-block;
                font-weight: 500;
                font-size: 16px;
                color: #FDFDFD;

                &:hover {
                    background-color: #1493ee;
                    color: #000;
                    transition: all .5s ease-in;
                }
            }
        }

        .language-dropdown {
            display: block;

            .langs {
                position: fixed;
                top: 0;
                width: 80px;
                height: 80px;
                transform: translateY(90px);
                background-color: none;
                z-index: 1;
                transition: transform 0.3s ease-in;
            }

            input[type="checkbox"]:checked+.langs {
                transform: translateY(-100px);

                ul {
                    display: none;
                    transition: transform 0.3s ease-in;
                }
            }
        }

    }
}