@import url("https://fonts.cdnfonts.com/css/svn-gilroy");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "SVN-Gilroy", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

img {
  max-width: 100%;
  max-height: 100%;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

section#knowledge .flex .knoweldge__link, .adoption__text .adoption__button-right, .adoption__text .adoption__button-left, section#partners .flex .partner__link, section#product .flex .product__info-link, section#friend .friends__right-section .friend__button-right, section#friend .friends__right-section .friend__button, section#new .flex .info__link, section#showcase .flex .showcase__button-right, section#showcase .flex .showcase__button, header#main-header .dropdown__left .dropdown__items form button {
  all: unset;
  padding: 12px 28px;
  background: #003459;
  border-radius: 57px;
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FDFDFD;
}
section#knowledge .flex .knoweldge__link:hover, .adoption__text .adoption__button-right:hover, .adoption__text .adoption__button-left:hover, section#partners .flex .partner__link:hover, section#product .flex .product__info-link:hover, section#friend .friends__right-section .friend__button-right:hover, section#friend .friends__right-section .friend__button:hover, section#new .flex .info__link:hover, section#showcase .flex .showcase__button-right:hover, section#showcase .flex .showcase__button:hover, header#main-header .dropdown__left .dropdown__items form button:hover {
  background-color: #1493ee;
  color: #000;
  transition: all 0.5s ease-in;
}

header#main-header {
  background: linear-gradient(102.87deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%);
  padding: 1.4rem 0;
  position: relative;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
}
header#main-header .dropdown__left {
  display: none;
}
header#main-header .dropdown__left .dropdown__items {
  position: fixed;
  top: 0;
  left: 0;
  width: 359px;
  height: 100%;
  background-color: #003459;
  box-shadow: 0 0 20px grey;
  transform: translateX(-100%);
  padding: 1rem;
  transition: transform 0.3s ease-in;
}
header#main-header .dropdown__left .dropdown__items form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  flex-direction: column;
}
header#main-header .dropdown__left .dropdown__items form button {
  width: 230px;
  background-color: #F7DBA7;
}
header#main-header .dropdown__left .dropdown__items form button:hover {
  background-color: #002A48;
  color: #F7DBA7;
}
header#main-header .dropdown__left .dropdown__items label i {
  color: #fff;
  font-size: 30px;
  display: flex;
  justify-content: flex-end;
}
header#main-header .dropdown__left .dropdown__items ul {
  margin-top: 59px;
}
header#main-header .dropdown__left .dropdown__items li {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 3px;
  line-height: 24px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 5px;
  color: #F7DBA7;
}
header#main-header .dropdown__left input[type=checkbox]:checked + .dropdown__items {
  transform: translateX(0);
}
header#main-header .flex {
  justify-content: space-between;
  align-items: center;
}
header#main-header .flex .nav__logo {
  z-index: 1;
}
header#main-header .flex .header__position {
  position: fixed;
  left: 7%;
  top: -10px;
  rotate: 5deg;
  z-index: -1;
}
header#main-header .flex nav .flex {
  gap: 48px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #003459;
}
header#main-header .flex nav .flex .nav__link:hover {
  color: red;
  text-decoration: underline;
  transition: all 0.2s ease-in;
}
header#main-header .flex form {
  gap: 1rem;
  align-items: center;
  justify-content: center;
  background: #FDFDFD;
  background-color: transparent;
}
header#main-header .flex form input {
  padding: 12px 0;
  background: #FDFDFD;
  border-radius: 46px;
  width: 280px;
  border: none;
  margin-right: 1rem;
}
header#main-header .flex form .nav__button {
  all: unset;
  padding: 12px 28px;
  background: #003459;
  border-radius: 57px;
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  color: #FDFDFD;
}
header#main-header .flex form .nav__button:hover {
  background-color: #1493ee;
  color: #000;
  transition: all 0.5s ease-in;
}
header#main-header .flex .language-dropdown {
  display: block;
}
header#main-header .flex .language-dropdown .langs {
  position: fixed;
  top: 0;
  width: 80px;
  height: 80px;
  transform: translateY(90px);
  background-color: none;
  z-index: 1;
  transition: transform 0.3s ease-in;
}
header#main-header .flex .language-dropdown input[type=checkbox]:checked + .langs {
  transform: translateY(-100px);
}
header#main-header .flex .language-dropdown input[type=checkbox]:checked + .langs ul {
  display: none;
  transition: transform 0.3s ease-in;
}

section#showcase {
  background: linear-gradient(102.87deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%);
  overflow: hidden;
}
section#showcase .flex {
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  position: relative;
}
section#showcase .flex img {
  position: absolute;
}
section#showcase .flex .showcase1 {
  left: -15px;
}
section#showcase .flex .showcase {
  top: 0;
  left: 40%;
  z-index: 1;
}
section#showcase .flex .showcase2 {
  top: 80%;
  left: -3rem;
}
section#showcase .flex .showcase3 {
  top: 3rem;
  left: 55%;
}
section#showcase .flex .showcase4 {
  top: 6rem;
  left: 50%;
}
section#showcase .flex .showcase5 {
  top: 6.5rem;
  left: 50%;
}
section#showcase .flex .showcase7 {
  top: 33%;
  left: 52%;
}
section#showcase .flex .showcase8 {
  top: 25%;
  left: 52%;
}
section#showcase .flex .hero__info {
  padding-top: 90px;
}
section#showcase .flex .hero__title {
  font-weight: 800;
  position: relative;
  width: 465px;
  padding-bottom: 4px;
  font-size: 60px;
  line-height: 68px;
  text-transform: capitalize;
  color: #002A48;
}
section#showcase .flex .hero__title-bottom {
  font-weight: 700;
  font-size: 46px;
  line-height: 60px;
  padding-bottom: 24px;
  text-transform: capitalize;
  color: #002A48;
}
section#showcase .flex .hero__description {
  font-weight: 500;
  width: 480px;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 34px;
  color: #242B33;
}
section#showcase .flex .showcase__button {
  font-weight: 500;
  background-color: unset;
  border: 2px solid #002A48;
  font-size: 16px;
  color: #002A48;
  margin-bottom: 200px;
}
section#showcase .flex .showcase__button:hover {
  background-color: #1493ee;
  color: #000;
  transition: all 0.5s ease-in;
}
section#showcase .flex .showcase__button span {
  padding-left: 10px;
}
section#showcase .flex .showcase__button-right {
  margin-left: 1rem;
}

section#new {
  padding-top: 60px;
}
section#new p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: flex-end;
  color: #000000;
}
section#new .flex {
  justify-content: space-between;
  align-items: center;
}
section#new .flex h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-transform: capitalize;
  color: #003459;
}
section#new .flex .info__link {
  background-color: unset;
  color: #002A48;
  border: 2px solid #002A48;
  font-weight: 500;
  font-size: 14px;
}
section#new .flex .info__link span {
  padding-left: 10px;
}
section#new .cards {
  margin-top: 36px;
  background: #FDFDFD;
  width: 280px;
  padding: 8px 8px 20px 8px;
  box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
}
section#new .cards .card__desc {
  font-weight: 700;
  font-size: 16px;
  padding-top: 16px;
  line-height: 24px;
  color: #00171F;
}
section#new .cards b {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #00171F;
}
section#new .grid {
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

section#friend {
  padding-top: 60px;
}
section#friend .friends__right-section {
  position: relative;
  z-index: 1;
  padding: 64px 85px 0 0;
}
section#friend .friends__right-section img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  height: 100%;
}
section#friend .friends__right-section .friend__title {
  font-weight: 800;
  font-size: 52px;
  line-height: 68px;
  text-transform: capitalize;
  color: #002A48;
}
section#friend .friends__right-section .friend__title-bottom {
  text-align: right;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  text-transform: capitalize;
  color: #002A48;
  padding-bottom: 8px;
}
section#friend .friends__right-section .friend__description {
  padding-bottom: 24px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #242B33;
  width: 390px;
  text-align: right;
}
section#friend .friends__right-section .friend-links {
  display: flex;
  justify-content: end;
}
section#friend .friends__right-section .friend__button {
  background-color: unset;
  color: #002A48;
  border: 2px solid #002A48;
  font-weight: 500;
  font-size: 14px;
}
section#friend .friends__right-section .friend__button-right {
  margin-left: 1rem;
}
section#friend .friend__bgc {
  position: relative;
  border-radius: 20px;
  background-color: #003459;
}
section#friend .flex {
  justify-content: space-between;
}
section#friend .flex .friend__left-section .position-left {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
}
section#friend .flex .friend__left-section .position-1 {
  position: relative;
  z-index: 2;
}

section#product {
  padding-top: 60px;
}
section#product .grid {
  justify-items: center;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
section#product .product__cards {
  background: #FDFDFD;
  box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  width: 280px;
  height: 446px;
  padding: 8px 8px 0 8px;
}
section#product .product__cards .card__desc {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #00171F;
  width: 248px;
}
section#product .product__cards span {
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: #667479;
  display: block;
  padding: 4px 0;
}
section#product .product__cards .product__card-link {
  background: #FCEED5;
  padding: 8px 20px;
  border-radius: 8px;
  display: inline-block;
  margin-bottom: 20px;
}
section#product .product__cards .product__card-link:hover {
  background-color: violet;
  transition: all 0.3s ease-in;
}
section#product .product__cards .product__card-link span {
  display: inline-block;
  padding-right: 1rem;
}
section#product .product__cards b {
  padding-bottom: 10px;
}
section#product .flex {
  justify-content: space-between;
  align-items: center;
  justify-items: center;
}
section#product .flex .product__info-link {
  background-color: unset;
  color: #002A48;
  border: 2px solid #002A48;
  font-weight: 500;
  font-size: 14px;
}
section#product .desc p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
section#product .desc h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-transform: capitalize;
  color: #003459;
  padding-bottom: 28px;
}

section#partners {
  padding-top: 104px;
}
section#partners .flex {
  justify-content: space-between;
  align-items: center;
}
section#partners .flex p {
  font-weight: 500;
  font-size: 16px;
  line-height: 31px;
  color: #000000;
}
section#partners .flex p b {
  font-weight: 700;
  padding-left: 8px;
  font-size: 24px;
  line-height: 36px;
  text-transform: capitalize;
  color: #003459;
}
section#partners .flex .partner__link {
  background-color: unset;
  border: 3px solid #002A48;
  color: #002A48;
}
section#partners .flex .partner__link span {
  padding-left: 1rem;
}

section#adoption {
  margin-top: 68px;
  position: relative;
  z-index: -1;
}
section#adoption .adoption__bgc {
  background: #FFB775;
  border-radius: 20px;
}
section#adoption .adoption__bgc .flex {
  justify-content: space-between;
  align-items: center;
}
section#adoption .adoption__bgc .flex .left {
  position: absolute;
  left: 1;
}

.adoption__text {
  z-index: 1;
  padding-left: 85px;
}
.adoption__text .adoption__title {
  font-weight: 800;
  padding-bottom: 2px;
  font-size: 52px;
  line-height: 68px;
  text-transform: capitalize;
  color: #003459;
  display: flex;
}
.adoption__text .adoption__title span {
  padding-left: 1rem;
}
.adoption__text .adoption__title-bottom {
  font-weight: 700;
  padding-bottom: 8px;
  font-size: 36px;
  line-height: 54px;
  text-transform: capitalize;
  color: #003459;
}
.adoption__text .adoption__description {
  font-weight: 500;
  font-size: 14px;
  padding-bottom: 42px;
  line-height: 18px;
  color: #242B33;
  width: 394px;
}
.adoption__text .adoption__button-left {
  margin-right: 1rem;
}
.adoption__text .adoption__button-right {
  background-color: unset;
  border: 3px solid #002A48;
  color: #002A48;
}
.adoption__text .adoption__button-right span {
  padding-left: 10px;
}

.right {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
}

.adoption__right-image {
  z-index: 9999999;
  z-index: 100;
}

.adoption__image {
  position: relative;
  z-index: 999;
}

section#knowledge {
  padding-top: 60px;
  margin-bottom: 60px;
}
section#knowledge .flex {
  justify-content: space-between;
  align-items: center;
}
section#knowledge .flex .top .knowledge__desc {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
section#knowledge .flex .top .knowledge__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-transform: capitalize;
  color: #003459;
}
section#knowledge .flex .knoweldge__link {
  background-color: unset;
  border: 3px solid #002A48;
  color: #002A48;
}
section#knowledge .flex .knoweldge__link span {
  padding-left: 10px;
}
section#knowledge .card1 {
  margin-top: 28px;
  width: 380px;
  background: #FDFDFD;
  box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  padding: 8px 8px 0 8px;
}
section#knowledge .card1 img {
  display: block;
}
section#knowledge .card1 .card-button {
  margin: 13px 0;
  letter-spacing: 2px;
  display: inline-block;
  padding: 10px 22px;
  font-weight: 700;
  font-size: 10px;
  line-height: 16px;
  background: #00A7E7;
  border-radius: 28px;
  color: #FDFDFD;
}
section#knowledge .card1 .card__title {
  font-family: "SVN-Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  padding-left: 13px;
  line-height: 24px;
  width: 348px;
  color: #00171F;
}
section#knowledge .card1 .card-description {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #242B33;
  padding-top: 4px;
  width: 348px;
  padding-bottom: 16px;
}

.grid {
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}

section#footer {
  background: linear-gradient(102.87deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%);
  border-radius: 40px 40px 0px 0px;
  padding-top: 80px;
}
section#footer .footer__bottom {
  padding: 50px 0;
}
section#footer .footer__bottom span {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #667479;
}
section#footer .footer__links .flex {
  gap: 30px;
}
section#footer footer {
  border-bottom: 1px solid grey;
  padding-bottom: 1rem;
}
section#footer footer .flex {
  gap: 60px;
}
section#footer footer .flex .footer__list .footer__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #00171F;
  transition: color 0.2s ease-in;
}
section#footer footer .flex .footer__list .footer__link:hover {
  color: red;
  text-decoration: underline;
}
section#footer .flex {
  justify-content: space-between;
  align-items: center;
}
section#footer .footer__placeholder {
  margin-bottom: 40px;
  padding: 32px;
  background: #003459;
  border-radius: 16px;
}
section#footer .footer__placeholder span {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-transform: capitalize;
  color: #FDFDFD;
  width: 389px;
}
section#footer .footer__placeholder form {
  width: 700px;
  padding: 10px;
  background: #FFFFFF;
  border-radius: 14px;
}
section#footer .footer__placeholder form button {
  padding: 14px 30px;
  background: #003459;
  border-radius: 8px;
  color: #FDFDFD;
  margin-left: 12px;
  transition: background-color 0.2s ease-in;
}
section#footer .footer__placeholder form button:hover {
  background-color: rgba(0, 0, 0, 0.9);
}
section#footer .footer__placeholder form .flex {
  justify-items: flex-end;
}
section#footer .footer__placeholder form input {
  padding: 12px;
  width: 508px;
}

@media (min-width: 1400px) {
  header#main-header .dropdown__left {
    display: none;
  }
  header#main-header .search {
    display: none;
  }
}
@media only screen and (max-width: 1400px) {
  .container {
    width: 814px;
  }
  section#friend {
    display: none;
  }
  section#adoption {
    display: none;
  }
  section#knowledge .grid {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
  section#knowledge .grid .card2 {
    display: none;
  }
  section#partners {
    display: none;
  }
  section#product .grid {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    justify-content: center;
  }
  section#new p {
    padding-left: 5rem;
  }
  section#new .flex {
    justify-content: space-around;
    align-items: center;
    align-content: center;
  }
  section#new .grid {
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
  }
  header#main-header .flex .dropdown__left {
    display: block;
  }
  header#main-header .flex nav {
    display: none;
  }
  header#main-header .flex form {
    display: none;
  }
  header#main-header .flex .language-dropdown {
    display: none;
  }
  header#main-header .flex .language-dropdown label {
    display: none;
  }
  header#main-header .flex .language-dropdown .langs {
    display: none;
  }
  section#footer .footer__bottom {
    flex-direction: column;
  }
  section#footer .footer__bottom span {
    padding: 1rem 0;
  }
  section#footer .footer__items {
    justify-content: flex-end;
    margin-bottom: 1rem;
  }
  section#footer footer {
    flex-direction: column;
  }
  .footer__placeholder span {
    display: none;
  }
  .footer__placeholder .flex {
    flex-direction: column;
  }
}
@media only screen and (max-width: 834px) {
  .container {
    width: 394px;
  }
  section#showcase .hero-images .hero__image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }
  section#footer .footer__items a {
    margin-bottom: 1rem;
  }
  section#footer .footer__placeholder form {
    width: 350px;
    height: 132px;
    width: 350px;
    height: 132px;
    display: inline-block;
  }
  section#footer .footer__placeholder form button {
    width: 326px;
    height: 48px;
    margin: 5px auto;
  }
  section#footer .footer__placeholder form input {
    width: 326px;
    height: 48px;
    margin-top: 10px;
  }
  section#partners {
    display: none;
  }
  section#product {
    display: none;
  }
  section#new p {
    display: none;
  }
  section#new .flex .info__link {
    display: none;
  }
  section#new .grid {
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }
  section#new .grid .cards .card__desc {
    width: 161px;
  }
  section#new .grid .cards span {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 414px) {
  .container {
    max-width: 100%;
  }
}/*# sourceMappingURL=style.css.map */